
.bestsell-categories {
    padding: 20px;
     /* Màu nền */
}
.bestsell-categories a{
    color: var(--base-color) !important;
}

.bestsell-categories .card-text {
    font-size: clamp(13px, 1vw, 16px);
}
.bestsell-nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bestsell-nav p {
    margin: 0 5px;
    font-size: 20px;
}

.bestsell-nav i {
    margin: 0 5px; /* Khoảng cách giữa các biểu tượng */
}
.col-2 img {
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của cột */
    height: auto; /* Giữ tỷ lệ khung hình */
    border-radius: 8px; /* Bo góc hình ảnh */
}

.col-2 p {
    margin-top: 10px; /* Khoảng cách giữa hình ảnh và tiêu đề */
    color: #333; /* Màu chữ */
    text-align: center;
}
.bestsell-separator {
    width: 1px; 
    height: 30px;
    background-color: black; 
}
.bestsell-filter-btn {
    color: black !important; 
}
.bestsell-bar {
    height: 150px; 
    background-color: transparent; 
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    /* z-index: 1; */

}
.heart-icon::before {
    content: "\f004"; /* Mã Unicode cho biểu tượng trái tim trong Bootstrap Icons */
    font-family: "Bootstrap Icons"; /* Đặt font Bootstrap Icons */
    color: white; /* Đặt màu bên trong thành trong suốt */
    top: 0;
    left: 0;
    -webkit-text-stroke: 2px black; /* Tạo viền đen dày 2px quanh biểu tượng */
    z-index: -1; /* Viền sẽ nằm phía dưới biểu tượng gốc */
}

.page-item {
    margin: 0 5px; 
}

.page-link {
    display: inline-block !important; 
    padding: 10px 15px !important; 
    border: 2px solid #B16367; 
    border-radius: 5px !important; 
    color: #6A6A6A !important; 
    transition: background-color 0.3s, color 0.3s !important; 
}

.page-link:hover {
    background-color: #B16367 !important; /* Màu nền khi hover */
    color: white !important;  /* Màu chữ khi hover */
}

.page-link.active {
    background-color: #B16367 !important; /* Màu nền cho trang đang hoạt động */
    color: white !important; /* Màu chữ cho trang đang hoạt động */
    border-color: #B16367 !important; /* Viền cho trang đang hoạt động */
}




