/* =============================  */
/* Contact */
.contact-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-wrapper {
    flex: 1;
    position: relative;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-container {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: rgba(240, 233, 227, 0.9); 
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-left: 150px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
/* h1, p {
    margin-left: 50px;
} */
.custom-form-control {
    border-radius: 100px !important;
    padding: 10px;
    height: 52px;
    border: 1px solid #ccc; 
}
button {
    padding: 10px;
    background-color: #f89c72;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px !important;
}
button:hover {
    background-color: #f07f4e;
}
.layout {
    width: calc(80% - 80px); 
    margin: 0 200px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0; 
    border-radius: 10px; 
    overflow: hidden; 
}

.layout > div {
    padding: 16px; 
}

.left {
    border-right: 2px solid #ED9F03;
    background: #A9907E;
}
.left p, h1 {
    padding-top: 30px;
    color: #FFF;
    margin-left: 50px;
}

.right {
    background: #F5F5F5; 
}

/* ============================= */
footer {
    background-color: #3D3733;
    height: 50px;
    color: white;
    text-align: center;
    padding: 15px 0;
}
