.filterProduct {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}


#product-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--bs-primary);
    border-radius: 10px;
    background-color: #fff;
    z-index: 10;
    max-height: 400px;
    overflow-y: auto;
}
.product-dropdown-item {
    /* display: flex;
    align-items: center; */
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    transition: background-color 0.2s;
}

.product-dropdown-item:hover {
    background-color: #f0f8ff;
}

.product-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 16px;
    font-weight: 500;
}

.product-price {
    font-size: 14px;
    color: #555;
    margin-top: 2px;
}

#product-dropdown div {
    padding: 8px;
    cursor: pointer;
}

#product-dropdown div:hover {
    background-color: #f1f1f1;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table thead th {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: center;
}

.table td, .table th {
    padding: 12px;
    text-align: center;
}

#total_amount {
    font-weight: bold;
    text-align: right;
}

.mb-3 label {
    font-weight: bold;
}